input,select{
    width: 200px;
    background-color: #f5e0c6;
    margin: 8px;
    border-radius: 10px;
    height: 30px;
}
button{
    width: 100px;
    background-color: #a1ec0c;
    margin: 20px;
    border-radius: 10px;
    height: 30px;
padding-left: 10px;
}
div{
    margin-top: 200px;
    margin-left: 30%;
    background-color: #5e6d5e;
    width: 400px;
    height: 300px;
        border-radius: 10px;
        padding-left: 40px;

}
