

 
 .dashboard-panels{
background-color: rgb(161, 142, 45);
height: 80px;
padding:30px;

 }
 .mm{background-color: rgb(17, 255, 0);
border-radius: 10px;
padding: 18px;
margin-top: 20px;
width: 20%;}
 .view1{
    background-color: rgb(240, 243, 226);
 }
 
 